[submodule "vendor/lsusb"]
	path = vendor/lsusb
	url = https://github.com/jlhonora/lsusb.git
[submodule "vendor/rfcgrep"]
	path = vendor/rfcgrep
	url = https://github.com/dennisdegreef/rfcgrep.git
[submodule "vendor/oh-my-zsh"]
	path = vendor/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
