[submodule "vendor/rfcgrep"]
	path = vendor/rfcgrep
	url = https://github.com/dennisdegreef/rfcgrep.git
[submodule "vendor/oh-my-zsh"]
	path = vendor/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vendor/i3lock-fancy"]
	path = vendor/i3lock-fancy
	url = https://github.com/meskarune/i3lock-fancy.git
