[user]
	name = Dennis de Greef
	email = github@link0.net
[core]
	autocrlf = input
	safecrlf = true
	excludesfile = ~/.gitignore_global
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
